@import "@scss/variables";
@import "../components/shared/Header/Header";

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

section {
    width: 90%;
    margin: 0 auto 3em auto;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button, a {
    cursor: pointer;
}